@use 'variables';

.animation-button {
    --animation-button-pos-x: 50%;
    --animation-button-pos-y: 50%;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    // background: linear-gradient(-45deg, variables.$primary-color, variables.$secondary-color, variables.$light-purple, variables.$old-blue);
    background-size: 600%;
    background-position: var(--animation-button-pos-x) var(--animation-button-pos-y);
    animation: anime 6s linear infinite;
    transition: background-position 0.4s ease-out;
    will-change: background-position;
}

.animation-button.is-pointer-tracking {
    animation: none;
}

 @keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.animation-link {
    color: variables.$color-text-blue;
    position: relative;
    display: inline-block;
    font-weight: 800;
    overflow: hidden;
    line-height: 2;

    span {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 275ms ease;
        &::before {
        display: inline-block;
        content: attr(data-content);
        //color to be filled
        color: variables.$scrollbar-color-thumb;
        transform: translateX(100%);
        transition: transform 275ms ease;
        text-decoration: underline;
        }
    }

    &:hover {
        span {
        transform: translateX(0);
        &::before {
            transform: translateX(0);
        }
        }
    }

}

.animation-close {

    position: relative;

    // &:hover {
    //     color: variables.$white !important;

    //     svg {
    //         color: currentColor;
    //     }
            
    //     &::after {
    //         transform: scale(10) translateY(-50%) translateX(-50%);
    //     }
    // }

    // &::after {
    //     background-color: variables.$primary-color;
    //     content: '';
    //     position: absolute;
    //     height: 5%;
    //     width: 5%;
    //     transform-origin: 50% 50%;
    //     left: 50%;
    //     transform: scale(0.1) translateY(-50%) translateX(-50%);
    //     border-radius: 100%;
    //     z-index: 10;
    //     top: 50%;
    //     will-change: height width;
    // }

    // @keyframes animate-background {
    //     from {
    //         transform: scale(0.3);
    //     }

    //     to {
    //         transform: scale(1);
    //     }
    // }
}

// Animate on Text

.chroma-text {
    // @TODO: Change these colors to match the design system
    background-image: linear-gradient(90deg,#1c398e 0,#1c398e 33.33%,#c679c4 40%,#fa3d1d 45%,#ffb005 50%,#e1e1fe 55%,#0358f7 60%,transparent 66.67%,transparent);
    background-size: 300% 100%;
    background-position: 100% 0;
    will-change: background-position;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

.chroma-text-animate {
    animation: chroma-sweep 1.2s ease-in-out .3s forwards;
    filter: blur(1px);
}

$animations-directions: slide-from-top, slide-from-bottom, slide-from-left, slide-from-right;

@each $animation-direction in $animations-directions {
  .#{$animation-direction} {
    animation: #{$animation-direction} 0.8s ease-in-out 0.3s forwards;
  }
}

@keyframes chroma-sweep {
    0% {
        background-position: 100% 0;
        filter: blur(1px);
        opacity: 0.3;
    }

    to {
        background-position: 0 0;
        filter: blur(0);
        opacity: 1;
        background-color: #1c398e;
    }
}


@keyframes slide-from-right {
    from {
        transform: translateX(40%);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-40%);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-bottom {
    from {
        transform: translateY(40%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-40%);
    }

    to {
        transform: translateY(0);
    }
}
