@use 'variables';

.animation-button {
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    // background: linear-gradient(-45deg, variables.$primary-color, variables.$secondary-color, variables.$light-purple, variables.$old-blue);
    background-size: 600%;
    animation: anime 6s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}

 @keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.animation-link {
    position: relative;
    display: inline-block;
    font-weight: 800;
    text-decoration: underline;
    overflow: hidden;
    line-height: 2;

    span {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 275ms ease;
        &::before {
        display: inline-block;
        content: attr(data-content);
        //color to be filled
        color: #338AFF;
        transform: translateX(100%);
        transition: transform 275ms ease;
        text-decoration: underline;
        }
    }

    &:hover {
        span {
        transform: translateX(0);
        &::before {
            transform: translateX(0);
        }
        }
    }

}

// Animate on Text

.chroma-text {
    // @TODO: Change these colors to match the design system
    background-image: linear-gradient(90deg,#1c398e 0,#1c398e 33.33%,#c679c4 40%,#fa3d1d 45%,#ffb005 50%,#e1e1fe 55%,#0358f7 60%,transparent 66.67%,transparent);
    background-size: 300% 100%;
    background-position: 100% 0;
    will-change: background-position;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

.chroma-text-animate {
    animation: chroma-sweep 1s ease-in-out .3s forwards;
    filter: blur(1px);
}

@keyframes chroma-sweep {
    0% {
        background-position: 100% 0;
        filter: blur(1px);
        opacity: 0.3;
    }

    to {
        background-position: 0 0;
        filter: blur(0);
        opacity: 1;
        background-color: #1c398e;
    }
}
