@use 'variables';

.header-container {

    position: relative;

    // &::after {
    //     border-radius: 3rem;
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 60%;
    //     transform: translateY(-35%);
    //     background-color: variables.$white;
    //     z-index: -1;
    //     filter: blur(30px);
    //     width: 100%;
    // }

    .logo-link {
        transform: translateX(-40%);
        opacity: 0.2;
        animation: slide-from-left 0.4s ease-in-out 0.3s forwards;
    }

    #navbar-default {
        transform: translateX(40%);
        opacity: 0.2;
        animation: slide-from-right 0.4s ease-in-out 0.3s forwards;
    }

}


.hero-block {

    position: relative;
    z-index: 3;
    
    header {

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        z-index: 4;
        transition: transform 0.3s ease-in-out;
        will-change: transform;

        .header-logo {
            width: auto;
            max-height: 6.2rem;
            max-width: 100%;
        }

        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            overflow: hidden;
            transform: translateY(-100%);
            // box-shadow: 0 12px 30px rgba(23, 23, 23, 0.08);

            .header-container {
                &::after {
                    border-radius: 3rem;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 60%;
                    transform: translateY(-35%);
                    background-color: variables.$white;
                    z-index: -1;
                    filter: blur(3px);
                    width: 100%;
                }
            }
        }

        &.is-sticky.is-visible {
            transform: translateY(0);
        }
    }

    .hero {
        position: relative;
        overflow: hidden;

        &, > * {
            z-index: 2;
        }
    }

}
