
@use 'variables';

.hero-block {

    min-height: 100vh;
    position: relative;
    // overflow: hidden; // To enable position sticky
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 75px;
        background-color: variables.$bg-color;
        z-index: 2;
        pointer-events: none;
        mask-image: linear-gradient(180deg, transparent 0, variables.$bg-color 90%);
    }
    
    .hero-main-contain {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 2rem;
        gap: 1rem;
        min-height: 100%;
    }

    .motion-animation {
        pointer-events: none; 
        position: absolute; 
        inset: 0px; 
        display: flex; 
        height: 100%; 
        width: 100%; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden;
        z-index: 1;

        &-video {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }

    .main-title {
        font-size: calc((variables.$heading-1-size-value - 1) * 1.2vw + 1rem);
        line-height: 1;
    }

    .invoices-count {
        position: relative;
        z-index: 2;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        p {
            font-size: 2.4rem;
            margin: 2rem 0;
            // color: variables.$color-text-secondary;

            .counter {
                font-weight: 700;
                // color: variables.$color-primary;
            }
        }
    }
}