
@use 'variables';

.hero-block {

    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 75px;
        background-color: variables.$bg-color;
        z-index: 2;
        pointer-events: none;
        mask-image: linear-gradient(180deg, transparent 0, variables.$bg-color 90%);
    }
    
    
    .motion-animation {
        pointer-events: none; 
        position: absolute; 
        inset: 0px; 
        display: flex; 
        height: 100%; 
        width: 100%; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden;
        z-index: 1;

        &-video {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }
}