

$primary-color: #233254;
$secondary-color: #50E3C2;
$color-background: #f0f0f0;
$color-text: #333333;
$color-text-blue: #1c398e;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$white: #ffffff;
$black: #000000;
$light-purple: #e2dfff;
$grey: #9ba1b1;
$light-yellow: #fff5e9;
$old-blue: #2f80ed;
$old-green: #54f5a1;
$bg-color: #f8f8f8;

// Scrollbar Colors
$scrollbar-color-thumb: #ff69b4; // hotpink
$scrollbar-color-track: #0000ff; // blue
$scrollbar-width: thin;
$scrollbar-width-legacy: 10px;

// Font Sizes
$heading-1-size-value: 4;
$heading-2-size-value: 3;
$heading-3-size-value: 2.5;
$heading-4-size-value: 2;
$heading-5-size-value: 1.75;
$heading-6-size-value: 1.5;