

$primary-color: #233254;
$secondary-color: #50E3C2;
$color-background: #f0f0f0;
$color-text: #333333;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$white: #ffffff;
$black: #000000;
$light-purple: #e2dfff;
$grey: #9ba1b1;
$light-yellow: #fff5e9;
$old-blue: #2f80ed;
$old-green: #54f5a1;
$bg-color: #f8f8f8;