@use "reset";
@use "sass:color";
@use "variables";

@use "header";
@use "animations";
@use "drawer";
@use "hero";
@use "typography";

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 10px;
}

body {
    font-family: variables.$font-family-base;
    background-color: variables.$bg-color;
    color: variables.$color-text;
    line-height: 1.6;
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(3rem, 1fr) auto;
}

.container-width {
    max-width: 150rem;
    margin: 0 auto;
}
