// @use "reset";

@use "sass:color";
@use "variables";

@use "animations";
@use "scroll-down-animation";
@use "typography";
@use "header";
@use "hero";
@use "drawer";
@use "prompts";
@use "scrollbar";
@use "sponsors";
@use "our-identity";
@use "testimonials";

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 10px;
}

body {
    font-family: variables.$font-family-base;
    background-color: variables.$bg-color;
    color: variables.$color-text;
    line-height: 1.6;
    min-height: 100vh;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(3rem, 1fr) auto;
}

.expanded-container,
.container-width {
    max-width: 120rem;
    margin: 0 auto;
}

.expanded-container {
    max-width: 160rem;
}

.a-link {
    color: variables.$primary-color;
    transition: color 0.2s;
    
    &:hover {
        color: variables.$scrollbar-color-thumb;
    }
}